@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    color:white
}


body{
    width: 100vw;
    height: 100vh;
}

#root{
    height: 100%;
    width: 100%;
}
.main-div{
    background-image: url('../../../public/welcome.jpg');
    height: 100%;
    background-size: cover;
  
    /* Center the background image */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(249deg, #617ad9, #4255bb); */
}

input{
    color: black;
}

.hello-section{
    /* background-color: red; */
    /* background-color: #222324;
    filter: blur(3px); */
    min-width: 400px;
    min-height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title-h1{
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    /* font-weight:  !important; */
    font-style: italic;
     animation: blurAnimation 1.5s forwards;
}

@keyframes blurAnimation {
    0% {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      filter: blur(15px);
    }
    100% {
      text-shadow: none;
      filter: blur(0);
    }
  }

  /* Styles for screens smaller than 500px (e.g., smartphones) */
@media only screen and (max-width: 499px) {
    /* Add your styles for screens smaller than 500px here */
  
    
.hello-section{
    /* background-color: red; */
    /* background-color: #222324;
    filter: blur(3px); */
    min-width: 70vw;
    min-height: 70vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title-h1{
    font-size: 10vw;
    font-family: 'Roboto', sans-serif;
    /* font-weight:  !important; */
    font-style: italic;
     animation: blurAnimation 1.5s forwards;
}

}
  